.App{
  width: 100vw;
  height: 100vh;
  background-color: rgb(44, 44, 233);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App .heading{
  display: flex;
  width: 100vw;
  height: 10vh;
  background-color: rgb(89, 103, 227);
  color: aliceblue;
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  align-items: center;
  justify-content: center;
  z-index: 9999;

}

